.h1degradado {
    font-size: 72px;
    background:linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  img{
   width: 100%;
}

.bottonper{
  border-radius: 5px;
  background: var(--3, linear-gradient(97deg, #D10ED1 12.04%, #10A3DA 81.84%));
  text-align: center;
  align-items: center;

}
.paquetedebotones .bottonper{

gap: 5px;

}
.bottonpernone{
  background: none;
  border-radius: 5px;
  border: 1px solid var(--3, #D10ED1);

  
}

.listpersonalizada ul li{
background:none;
color: white;
border: none;

}
.fondofinal{

background-color: #090823;

}

.ubicacionimagen1{

right: 20%;
top: 10%;
}
.espacio1{
gap: 50px;

}
.cartasestilo{

background-color: #090823;

}
.centradopagina div{

/* padding: 0px 10px; */
}
.tamañoimagene2chicos{
  width:100%;
  height: 100%;

}
.card1{
background-color: #090823;

}

.botoniniciovideo{

z-index: 1;
top: 44%;
right: 50%;
}
.footimagenfinal{

z-index: 1;
top: 77%;
right: 1%;
align-items: center;
width: 98%;
}
.fraseimagenfinal{
  z-index: 2;
top: 85%;
left: 2%;
align-items: center;
}
.altura1{

  height: 100%;
}  


@media(max-width:576px){
  .espacio1{
    gap: 0px;
  }
  .ubicacionimagen1{

    right: 10%;
    top: 10%;
    }

  .altura1{

    height: 0%;
  }
  .fraseimagenfinal{
    z-index: 2;
  top: 85%;
  right: -1%;
  align-items: center;
  }
 

}